body {
  font-family: Arial;
  background: #f0f2f5;
  padding: 20px;
}

#login-section, #app-section {
  max-width: 400px;
  margin: auto;
}

textarea, input, select {
  width: 100%;
  margin: 5px 0;
  padding: 8px;
}

.post {
  background: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
}

button {
  margin-top: 5px;
  cursor: pointer;
}
